body {
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  background-color: darkslateblue;
  margin: 0;
}

#content {
  background-color: white;
  border-radius: 20px;
  margin: 20px auto;
  max-width: 600px;
  padding: 40px;
}

.blog-date {
  color: gray;
}
.blog-intro {
  font-style: italic;
}

.blog-image img {
  width: 100%;
  height: auto;
}

.blog-preview {
  background-color: lavender;
  border-radius: 20px;
  padding: 15px;
  margin: 15px 0;
}

.blog-preview h3 {
  margin: 0;
}
